

.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
    background: rgba(1,1,1, .5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal .modal-content {
    z-index: 5;
    background: #171311;
    border-radius: 20px;
    border: #342F2E 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.modal .modal-content.small {
    width: 500px;
    height: 200px;
}

.modal .modal-content.medium {
    width: 500px;
    height: 300px;
}

.modal .modal-content.large {
    width: 500px;
    height: 500px;
}

.modal .modal-content.animate__animated {
    animation-duration: 500ms;
}

.modal .modal-content .modal-header {
    display: flex;
    justify-content: center;
    width: 100%;
}

.modal .modal-content .modal-header h2 {
    margin-top: 15px;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 15px;
}

.modal .modal-content .modal-header button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 14px;
    right: 10px;
    background: var(--background);
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 20px;
    padding: 5px;
    transition: ease all .3s;
}

.modal .modal-content .modal-header button:hover {
    background: var(--border);
    transition: ease all .3s;
}

.modal .modal-content .modal-header button span {
    font-size: 25px
}

.modal .modal-content .content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.modal .modal-content .content .option {
    display: flex;
    align-items: center;
    height: 50%;
    padding: 15px;
    cursor: pointer;
    position: relative;
    transition: ease all .3s;
}

.modal .modal-content .content .option:hover {
    background: var(--border);
    transition: ease all .3s;
}

.modal .modal-content .content .option:last-child {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.modal .modal-content .content .option p {
    font-weight: 300;
}
.modal .modal-content .content .option span {
    position: absolute;
    right: 20px;
}

.modal .modal-content .content-deleted {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
    overflow: auto;
}

.modal .modal-content .content-deleted .option-deleted {
    display: flex;
    align-items: center;
    padding: 15px;
}

.modal .modal-content .content-deleted .option-deleted a {
    display: block;
    text-decoration: none;
    color: white;
    font-weight: 500;
    padding: 5px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 13px;
    margin-right: 5px;
}

.modal .modal-content .content-deleted .option-deleted a:hover {
    color: #92908F;
    transition: ease all 0.3s;
}

.modal .modal-content .content-deleted .option-deleted button  {
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 12px;
    margin-right: 5px;
    transition: ease all 0.3s;
}

.modal .modal-content .content-deleted .option-deleted button:hover {
    background: #92908F;
    transition: ease all 0.3s;
}

.modal .modal-content .content-deleted .option-deleted button:last-child {
    margin-right: 0;
}

.modal .modal-content .content-deleted .option-deleted button span  {
    font-weight: 300;
}

.modal .modal-content.large .modal-header {
    margin-bottom: 10px;
}
.modal .modal-content .content-profile {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 0 80px;
}

.modal .modal-content .modal-btn {
    width: 100%;
    padding: 10px 80px;
    margin-bottom: 10px;
}

.modal .modal-content .content-profile .input-line {
    display: flex;
}
.modal .modal-content .content-profile .input-line .input {
    margin-right: 10px;
    width: 50%;
}

.modal .modal-content .content-profile .input-line .input:last-child {
    margin-right: 0;
}


@media screen and (max-width: 633px) {

    .modal .modal-content.medium,
    .modal .modal-content.small {
        width: 300px;
        height: 190px;
    }

    .modal .modal-content.large {
        width: 300px;
        height: 400px;
    }

    .modal .modal-content .content-profile {
        overflow: scroll;
        padding: 10px 50px;
    }

    .modal .modal-content .content-profile button {
        margin-bottom: 15px;
    }
    .modal .modal-content .modal-header h2 {
        font-size: 20px;
    }

    .modal .modal-content .modal-header button {
        top: 8px;
    }
}