
.chat {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.chat .tools {
    display: flex;
    align-items: center;
    height: 70px;
    padding: 10px;
    margin-left: 20px;
}

.chat .tools .tool {
    margin-right: 15px;
}

.chat .tools .tool button {
    background: var(--background);
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat .tools .tool button:hover + .tool-info {
    display: flex;
}

.chat .tools .tool-info {
    animation-duration: 500ms;
}

.chat .tools .tool .tool-info {
    justify-content: center;
    align-items: center;
    background: var(--background);
    border: var(--border) 1px solid;
    position: absolute;
    padding: 10px;
    border-radius: 10px;
    transform: translateX(-35%);
    margin-top: 10px;
    display: none;
}

.chat .tools .tool .tool-info span {
    font-weight: 200;
}

.chat .tools:last-child {
    margin-right: 0;
}

.chat .tools button span {
    color: var(--main-color);
    font-weight: 200;
}