

.btn button {
    width: 100%;
    background: #EA580C;
    color: white;
    border-radius: 30px;
    border: none;
    height: 50px;
    cursor: pointer;
    margin-top: 30px;
    font-size: 20px;
    font-weight: 600;
}