
:root {
    --main-color: #EA580C;
    --border: #342F2E;
    --background: #171311;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    width: 100vw;
    font-family: Inter, sans-serif;
    background: #171311;
    color: white;
}

#root {
    height: 100%;
    display: flex;
}

.loading {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading img {
    width: 100px;
    animation: loading 1s infinite;
}

.Toastify__toast-theme--light {
    background: var(--background)!important;
    border:  1px solid var(--border)!important;
}

.Toastify__close-button > svg {
    fill: white!important;
}


@keyframes loading {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}




