

.login {
    width: 100%;
    height: 100%;
}

.login .login-logo {
    display: flex;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.login .login-logo img {
    width: 150px;
}

.login .login-container {
    margin: 0 200px;
    display: flex;

}

.login .login-container .infos {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-top: 31px;
}

.login .login-container .colored {
    color: #EA580C;
}

.login .login-container .infos .title {
    margin-bottom: 20px;
}

.login .login-container .infos p {
    color: #92908F;
    font-size: 20px;
    font-weight: 200;
    width: 70%;
    line-height: 25px;
}

.login .login-container .infos .title span {
    font-size: 40px;
    font-weight: 400;
}

.login .login-container .login-form {
    display: flex;
    flex-direction: column;
    padding: 30px;
    border: var(--border) 1px solid;
    border-radius: 20px;
    width: 40%;
}

.login .login-container .login-form .google {
    display: flex;
    align-items: center;
    border: 1px solid var(--border);
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    transition: ease 0.3s;
}

.login .login-container .login-form .google:hover {
    background: #342f2e;
    transition: ease 0.3s;
}

.login .login-container .login-form .separator {
    position: relative;
    margin-bottom: 30px;
    margin-top: 30px;
}

.login .login-container .login-form .separator .line {
    height: 1px;
    background: var(--border);
}

.login .login-container .login-form .separator span {
    color: #92908F;
    position: absolute;
    left: 50%;
    top:-8px;
    transform: translateX(-50%);
    background: #171311;
    padding: 2px;
}

.login .login-container .login-form .google img {
    width: 40px;
}

.login .login-container .login-form .google span {
    font-weight: 300;
    font-size: 15px;
    width: 100%;
    text-align: center;
}

.login .login-container .login-form .register {
    margin-bottom: 30px;
}

.login .login-container .login-form .register span {
    color: #92908F;
    font-size: 15px;
    font-weight: 300;
}

.login .login-container .login-form .register a {
    color: #EA580C;
    font-size: 15px;
    font-weight: 300;
    text-decoration: none;
}

.login .login-container .login-form .title {
    margin-bottom: 10px;
}

.login .login-container .login-form .title span {
    font-size: 40px;
    font-weight: 400;
}

.login .login-container .login-form .form .input-line {
    display: flex;
}

.login .login-container .login-form .form .input-line .input {
    margin-right: 20px;
}

.login .login-container .login-form .form .input-line .input:last-child {
    margin-right: 0;
}


@media screen and (max-width: 1148px) {

    .login .login-container {
        justify-content: center;
        align-items: center;
    }

    .login .login-container .infos {
        display: none;
    }

    .login .login-container .login-form {
        width: auto;
    }

}

@media screen and (max-width: 762px) {
    .login .login-container {
        margin: 0 50px;
    }
}


@media screen and (max-width: 456px) {
    .login .login-container {
        margin: 0 20px;
    }

    .login .login-container .login-form .title span {
        font-size: 30px;
    }

    .login .login-container .login-form .register span,
    .login .login-container .login-form .register a {
        font-size: 12px;
    }

    .login .login-logo {
        margin-bottom: 20px;
    }
}

