
:root {
    --main-color: #EA580C;
    --border: #342F2E;
    --background: #171311;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    width: 100vw;
    font-family: Inter, sans-serif;
    background: #171311;
    color: white;
}

#root {
    height: 100%;
    display: flex;
}





